<h1>Phone Number List</h1>


<h4>Add Phone Numbers here:</h4>

<form action="/phone_numbers" method="post">
  <label for="home">Home Phone:</label>
  <input id="home" name="home" type="text">

  <label for="work">Work Phone:</label>
  <input id="model" name="model" type="text">

  <label for="work">Cell Phone:</label>
  <input id="work" name="work" type="text">

  <button type="submit">Add: </button>
</form>


<h3>Here are the Phone Numbers</h3>
